body {
  background-color: #a5bee1;
}

.app-title {
  font-size: 2em;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  background-color: #4a4a4a;
  color: #fff;
  text-align: center;
  padding: 12px;
  margin-left: 10px;
  border-radius: 10px;
}
.app-table td {
  background-color: #fff;
  color: #555;
  padding: 10px;
}

.app-table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.app-table th {
  text-align: center;
}

.app-table tr:hover {
  background-color: #f0f0f0;
}
.app-table tr:hover td {
  background-color: #a5dce1;
  color: #ffffff;
}
.app-table button:hover {
  background-color: #dcdcdc;
}

@media screen and (max-width: 500px) {
  .app-container {
  }
}
